@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
background-color: navy;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
font-family: Raleway, sans-serif;
}


h1 {
    color: white;
    font-size: 6vw;
    letter-spacing: 6px;
}


.pad {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 30px;
    background-color: white;
    border: 4px solid black;
    box-shadow: 4px 4px 0 0 black;
  }



  .key {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: black;
    background-color: white;
    border: 4px solid black;
    box-shadow: 0px 4px 0 0 black;
    user-select: none;
    transform: translate(0, 0);
  }

  .sound {
    font-size: 14px;
    text-transform: uppercase;
    color: #ff6868;
    margin-top: 7px
}

.key.playing {
    background-color: #ddd;
    box-shadow: 0 0 0 0 black;
    transform: translate(4px, 4px);
    border-color: #fd746c;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .key.playing.sound {
    color: #fd746c;
    transform: scale(1.5);
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:white;
    margin-left: 6mm; 
}

.footer-clean .text-center {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 15px;
    opacity: 0.6;
    color: white;
}

.footer-clean .item.social {
  padding-top: 50px;
}